'[[^int xkb_keysym_get_name 
[^xkb_keysym_t keysym
^char buffer
^size_t size]]

[^void xkb_context_unref 
[^bytes ^{Pinned {}} context]]

[^void xkb_context_set_user_data 
[^bytes ^{Pinned {}} context
^void user_data]]

[^int xkb_context_include_path_append 
[^bytes ^{Pinned {}} context
^const path]]

[^int xkb_context_include_path_append_default 
[^bytes ^{Pinned {}} context]]

[^int xkb_context_include_path_reset_defaults 
[^bytes ^{Pinned {}} context]]

[^void xkb_context_include_path_clear 
[^bytes ^{Pinned {}} context]]

[^void xkb_context_set_log_verbosity 
[^bytes ^{Pinned {}} context
^int verbosity]]

[^int xkb_context_get_log_verbosity 
[^bytes ^{Pinned {}} context]]

[^void xkb_keymap_unref 
[^bytes ^{Pinned {}} keymap]]

[^int xkb_keymap_key_repeats 
[^bytes ^{Pinned {}} keymap
^xkb_keycode_t key]]

[^void xkb_state_unref 
[^bytes ^{Pinned {}} state]]

[^int xkb_state_led_name_is_active 
[^bytes ^{Pinned {}} state
^const name]]

[^int xkb_state_led_index_is_active 
[^bytes ^{Pinned {}} state
^xkb_led_index_t idx]]
]